$body-bgcolor: #eceeef;

$text-normal: #000;
$text-link: #3a75a3;
$text-muted: #818a91;
$text-success: #5cb85c;
$text-warning: #f0ad4e;
$text-danger: #d9534f;
$text-error: #912a21;

$block-bgcolor: #fff;
$block-nestcolor: #f8f8f8;

$line-rule: #ccc;

$tag-color: #fff;
$tag-bgcolor: #449d44;
