$body-bgcolor: #eceeef;

$text-muted: #818a91;
$text-success: #5cb85c;
$text-warning: #f0ad4e;
$text-danger: #d9534f;
$text-error: #912a21;

$block-bgcolor: #fff;

$tag-color: #fff;
$tag-bgcolor: #449d44;
