.guide-header {
   position: relative;

   .guide-image {
      float: left;
      width: 160px;

      img {
         width: 160px;
         height: 120px;
      }

      button {
         width: 160px;
         border-radius: 0;
      }
   }

   .guide-title {
      margin-left: 170px;

      input {
         font-size: 1.5rem;
      }

      &>label {
         line-height: 38px;
         font-weight: bold;
         margin: 1rem 0.5rem 0 0;
         float: left;
      }

      select {
         margin-top: 1rem;

         .success {
            background-color: $text-success;
         }
         .warning {
            background-color: $text-warning;
         }
         .danger {
            background-color: $text-danger;
         }
      }

      var {
         position: absolute;
         top: 5rem;
         right: 2rem;
         color: $text-muted;
         font-size: 0.8rem;

         &.limited {
            color: $text-error;
         }
      }
   }
}

.guide-body {
   .section {
      .md-controls {
         margin-bottom: 0;
      }

      &>var {
         float: right;
         margin: 0 0.5rem 0.5rem 0;
         color: $text-muted;
         font-size: 0.8rem;

         &.limited {
            color: $text-error;
         }
      }

      .preview {
         clear: right;
      }
   }

   .section-controls {
      margin-top: 1.5rem;
      text-align: right;

      button {
         margin: 0 0.75rem;
      }
   }
}

.md-controls {
   div {
      background-color: $body-bgcolor;
      height: 1.9em;

      a {
         padding: 0.25em 0.5em 0.15em;
         margin: 0 0.25em;
         width: 2em;
         color: #000;
         font-size: 1em;
         text-align: center;
         display: inline-block;

         &:hover, &:active {
            background-color: $block-bgcolor;
         }
      }
   }

   textarea {
      border-color: $body-bgcolor;
      border-top: 0;
      width: 100%;
   }
}

.guide-controls {
   margin-bottom: 1.5em;
   display: flex;

   a, button {
      flex: 0 1 auto;
      margin: 0 0.5em;
   }

   .fill {
      flex: 1 0 auto;
   }
}