body {
   background-color: $body-bgcolor;
}

blockquote {
   border-left: 0.5em solid $body-bgcolor;
   padding-left: 0.5em;
}

.btn {
   border-radius: 0;
}

.page-loading {
   text-align: center;
   margin: 4rem 0;

   h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
      font-weight: bold;
   }

   i {
      font-size: 4rem;
   }
}