html {
   position: relative;
   min-height: 100%;
}

body {
   background-color: $body-bgcolor;
   font-family: 'Droid Sans' !important;
   margin: 0 0 100px;

   &.has-modal {
      overflow: hidden;

      .modal {
         background-color: rgba(0,0,0,0.5);

         .modal-dialog {
            transform: translate(0, 0);
         }
      }
   }
}

.modal {
   display: block;
   overflow-x: hidden;
   overflow-y: auto;
   background-color: rgba(0,0,0,0.0);
   transition: background-color 0.25s linear;

   .modal-dialog {
      transform: translate(0, -200%);
      transition: transform 0.25s linear;
   }
}

blockquote {
   border-left: 0.5em solid $body-bgcolor;
   padding-left: 0.5em;
}

input.error {
   border: 2px solid $text-danger;
}

a {
   color: $text-link;

   &:hover, &:focus {
      text-decoration: none;
   }
}

.page-loading {
   text-align: center;
   margin: 4rem 0;

   h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
      font-weight: bold;
   }

   i {
      font-size: 4rem;
   }
}

.page {
   background: $block-bgcolor;
   padding: 1rem;
   margin-bottom: 1rem;

   h1 {
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid $line-rule;
   }

   h2, h3 {
      margin-bottom: 0.75rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $line-rule;
   }

   h4, h5 {
      margin-bottom: 0.5rem;
   }
}

ul.popup {
   margin-bottom: 0;
   list-style-type: none;
   padding-left: 0;

   li {
      ul {
         display: none;
         position: absolute;
         top: 100%;
         left: 0;
         padding-left: 0;
         list-style-type: none;
         background: #fff;
         width: 7rem;
         z-index: 10;

         li a {
            display: block;
            padding: 0.25rem 0.5rem;
         }
      }

      &:hover ul {
         display: block;
      }
   }
}

.tldr-logo {
   position: absolute;
   background: url("/asset/img/tldr-logo.svg") no-repeat;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   width: 142px;
   height: 90px;
   z-index: 3;

   a {
      display: block;
      text-decoration: none;
      width: 142px;
      height: 90px;
   }
}

.topbar {
   padding: 4px 0 4px 0;
   height:30px;
   text-align: right;
   font-size: 16px;
   background-color: #303030;

   .fa-twitter {
      margin-right:5px;
   }
   .fa-twitter:hover, .topbar .fa-twitter:visited {
      color: #00b6f1;
   }
   .fa-facebook-square:hover, .topbar .fa-facebook-square:visited {
      color: #3b5998;
   }

   a {
      color: #444444;
      text-decoration: none;
   }
}

.navbar {
   height: 60px;
   padding: 0.6rem 1rem;
   margin: 0;
   z-index: 1;

   .fa-search {
      position: relative;
      z-index: 3;
      left: -25px;
      top: 1px;
      color: #aaaaaa;
   }

   input {
      background-color: #656565;
      border: 0;
      color: #ffffff;

      &:placeholder-shown {
         color: #aaaaaa;
      }
   }
   
   .discord {
      margin-left: 1rem;
      
      a {
         background: url("/asset/img/discord-logo-color.svg") no-repeat;
         margin-top: .4rem;
         width: 24px;
         height: 24px;
         
      }
   }

   .sidebar-alert {
      line-height: 2.375rem;
      margin-left: 1rem;
      color: $text-muted;

      &.open {
         color: $tag-color;
      }

      span.label {
         position: relative;
         top: -2px;
         background-color: #ef5c23;
      }
   }

}

.nav-bg {
   background-color: #444444;
}

nav {
   margin-bottom: 1rem;
   
   .show-menu {
       text-decoration: none;
       color: #aaa;
       font-size: 20px !important;
       margin-top: 4px;
       float: right;
       margin-right: 20px;
       display: none;
   }
   
   input[type=checkbox]{
      display: none;
      -webkit-appearance: none;
   }
   
   input[type=checkbox]:checked ~ #mobile-menu {
      max-width: none;
      margin: 0;
      padding: 0;

      ul {
         display: block;
      }
   }
   
}

.btn-signup {
   color: #efefef;
   background-color: #656565;

   &:hover {
      color: #ffffff;
      background-color: #f05a00;
   }
}

#google-signin {
   float: left;

   &>div {
      box-shadow: none !important;
   }
}

#facebook-signin {
   display: block;
   float: left;
   width: 240px;
   height: 50px;
   background: #4267B2;
   color: #fff;
   border: 0;
   padding: 0;
   margin-left: 1rem;
   line-height: 50px;

   i {
      display: block;
      float: left;
      width: 48px;
      line-height: 48px;
      margin: 1px;
      font-size: 24px;
      text-align: center;
   }
}

.category-header {
   padding: 1.5rem 1.5rem 1.1rem;
   margin-bottom: 1.5rem;
   background-color: $block-bgcolor;

   .tags {
      margin-top: 0.4em;
   }
   .new-guide {
      float: right;
   }
}

.card-block {
   .card-text.author {
      text-align: right;
      margin-top: 1em;
      color: #777;
   }
   .fa-user {
      margin-right: 0.3em;
   }
}

.card-deck {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: flex-start;

   .card {
      border-radius: 0;
      
      img {
         border-radius: 0;
      }
   }
   
   a {
      &:hover {
         color: #000;
         text-decoration: none;
      }
   }
}

.footer {
   position: absolute;
   left: 0;
   bottom: 0;
   height: 100px;
   width: 100%;
   padding: 20px 0 20px 0;
   margin-top: 20px;
   background-color: #444444;
   color: #e7e7e7;

   a {
      color: #aaaaaa;
      text-decoration: none;

      &:hover {
         color: #f05a00;
      }
   }

   ul {
      padding:  0;
      margin: 0;

      li {
         display: inline;
         margin-right: 5px;

         &.divider {
            color: #777777;
         }
      }
   }

   .copyright {
      float: right;
      color: #888888;
   }
}

.wrapper > .container {
   max-width: 100%;
   padding: 0;

   &>.alert {
      border-radius: 0;
      border-width: 0 0 1px 0;
      margin-bottom: 0;
   }

   .inner-container {
      display: flex;

      .content {
         flex: 1 0;
         margin: 1rem auto 0;
         max-width: 67.5rem;
         padding: 0 1.25rem;
      }
   }
}

.page-block {
   background-color: $block-bgcolor;
   padding: 1.5rem 1.5rem 1.1rem;
   margin-bottom: 1.5rem;
}

.md-controls {
   margin-bottom: 0.25rem;

   .toolbar {
      background-color: $body-bgcolor;
      height: 1.9em;

      a {
         padding: 0.25em 0.5em 0.15em;
         margin: 0 0.25em;
         width: 2em;
         color: #000;
         font-size: 1em;
         text-align: center;
         display: inline-block;

         &:hover, &:active {
            background-color: $block-bgcolor;
         }
      }
   }

   .text {
      position: relative;

      .background {
         position: absolute;
         width: 100%;
         height: 100%;
         background: $block-bgcolor url("/asset/img/tldr-logo-background.svg") no-repeat center;
         background-size: auto 50px;
         transition: all 0.25s ease-in;
         filter: grayscale(100%) blur(2px);
         opacity: 0.2;
      }

      &.no-fade .background {
         filter: grayscale(0) blur(0);
         opacity: 1;
      }

      textarea {
         position: absolute;
         background: transparent;
         width: 100%;
         height: 100%;
         border-color: $body-bgcolor;
         border-top: 0;
      }
   }
}

@media screen and (max-width: 1035px) {
   .navbar .sidebar-alert {
      display: none;
   }

   .wrapper > .container .inner-container {
      display: block;

      .activity-feed {
         width: auto;
         margin: 1.25rem;
      }
   }
}

@media screen and (max-width: 760px) {
   .tldr-logo {
      background: url("/asset/img/tldr-logo-mobile.svg") no-repeat;
      width: 142px;
      height: 50px;
      z-index: 3;   

      a {
         width: 142px;
         height: 50px;
      }
   }

   .topbar {
      height:50px;
      font-size: 24px;
      padding-top: 6px;

      .fa-twitter {
         margin-right:15px;
      }
      
      .container {
         max-width: 100% !important;
      }
   }
   
   .navbar {
      min-height: 60px;
      height: auto;
      padding: 0.6rem 0 0 0;
      
      form {
         float: none !important;
      }

      .form-inline .form-control {
         width: 100% !important;
      }

      .fa-search {
         display: none;
      }
      
      .search-box {
         float: left;
         width: 87%;
      }
      
      .pull-xs-right {
         float: none !important;
      }
  
      .navbar-nav .nav-item {
         float: none;
      }
      
      .show-menu {
          display:block;
      }
      
      .dropdown-menu {
         float: none;
         background-color: rgba(200, 200, 200, 0.95);
         border: 0;
         border-radius: 0;
         text-align: center;
         padding: 0;
         
         .dropdown-item {
            padding:10px;
            border-top: 1px solid #aaa;
            
         }
      }
      
      .dropdown-menu-right {
         left: 0 !important;
      }
      
      .discord {
         display: none;
      }
      
   }

   #mobile-menu {
      ul {
          position: static;
          display: none;
          background-color: #333;
          margin-top:50px;
      }

      li {
          margin-bottom: 1px;
      }

      ul li, li a {
          width: 100%;
      }
     
      .nav-item {
         margin-left: 0 !important;
         padding: 10px;
         text-align: center;
         border-top: 1px solid #444;
      }

      .btn-signup {
         background-color: transparent;
         
         &:hover {
            color: #ffffff;
            background-color: transparent;
         }
      }
   }

   .card-tag {
      margin-right: auto;
      margin-left: auto;
   }
}

.fixedsticky {
   position: -webkit-sticky;
   position: -moz-sticky;
   position: -ms-sticky;
   position: -o-sticky;
   position: sticky;
}
/* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off,
.fixed-supported .fixedsticky-off {
   position: static;
}
.fixedsticky-withoutfixedfixed .fixedsticky-on,
.fixed-supported .fixedsticky-on {
   position: fixed;
}
.fixedsticky-dummy {
   display: none;
}
.fixedsticky-on + .fixedsticky-dummy {
   display: block;
}
