.guides {
   .guide {
      position: relative;
      clear: both;
      background: #fff;
      min-height: 120px;
      margin-top: 1rem;

      &.success {
         background-color: $text-success;
      }
      &.warning {
         background-color: $text-warning;
      }
      &.danger {
         background-color: $text-danger;
      }

      img {
         float: left;
         width: 160px;
         height: 120px;
      }

      .contents {
         margin-left: 4.5rem;
         padding-left: 168px;

         h3 {
            padding: 0.5rem 1rem 0.4rem 0;
         }

         .left-info {
            position: absolute;
            bottom: 0.5rem;

            var {
               color: $text-muted;
               margin-left: 0.75rem;
            }
         }

         .comments {
            position: absolute;
            bottom: 0.5rem;
            right: 0.75rem;
            color: $text-muted;

            i {
               position: relative;
               top: -2px;
            }
         }
      }

      a.tag {
         margin: 0 0.75rem 0 0;
      }

      .status {
         margin-top: 0.5rem;
      }
   }
}

.category-header {
   h1 {
      font-size: 2rem;

      a.fa {
         font-size: 1.25rem;
         vertical-align: middle;
         margin-left: 0.5rem;
         color: #888;
         text-decoration: none;

         &:hover {
            color: #000;
         }
      }
   }
}

.likeguide {
   color: $text-muted;
   text-decoration: none;
   float: left;
   display: block;
   width: 4.5rem;
   margin-top: 1.5rem;
   text-align: center;
   font-size: 1.5rem;

   &:hover {
      color: $text-success;
   }

   &.liked {
      color: $text-success;
      &:hover {
         color: $text-muted;
      }
   }

   i {
      display: block;
      font-size: 3rem;
   }
}

.guide-header {
   padding: 1.5rem 1.5rem 1.1rem 0.5rem;
   margin-bottom: 1.5rem;
   background-color: $block-bgcolor;

   .guide-image {
      float: left;
      width: 160px;

      img {
         width: 160px;
         height: 120px;
      }

      button {
         width: 160px;
         border-radius: 0;
      }
   }

   .guide-title {
      margin-left: 4.5rem;
      padding-left: 168px;

      h1 {
         font-size: 2rem;
      }
   }

   .user-lg, .updated {
      color: $text-muted;
      line-height: 1.2rem;
      display: block;
   }

   .user-lg {
      display: inline-block;

      a.social {
         position: relative;
         top: 1px;
         font-size: 1.2rem;
      }
   }

   .updated {
      font-size: 0.8rem;
   }

   .tags {
      label {
         display: block;
         font-weight: bold;
         margin-bottom: 0.25rem;
      }

      margin-top: 0.5rem;
   }
}

.guide-source {
   margin-bottom: 1.5rem;
   padding: 0.5rem 1.5rem;
   background-color: $block-bgcolor;
   color: $text-muted;
}

.guide-body {
   section {
      padding: 1.5rem 1.5rem 1.1rem;
      background-color: $block-bgcolor;
      margin-bottom: 1.5rem;

      header {
         float: left;
         font-size: 3rem;
         line-height: 3rem;
         width: 4rem;
         text-align: center;
         color: $text-muted;
      }

      article {
         margin-left: 4.5rem;
      }

      .image {
         margin-top: 1.5rem;
         padding-top: 1.5rem;
         border-top: 1px solid $body-bgcolor;

         &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: 0;
         }

         img {
            display: block;
            width: 100%;
            margin: 0 auto;
         }
      }
   }
}

.guide-extras {
   section {
      padding: 1.5rem 1.5rem 1.1rem;
      background-color: $block-bgcolor;
      margin-bottom: 1.5rem;

      &.suggested {
         h3 {
            margin-bottom: 1rem;
         }

         .guide {
            background-color: $block-nestcolor;
            margin: 0 0 0.5rem;
         }
      }
   }
}

@media screen and (max-width : 411px){
   .guides {
      
      .guide {
         
         img {
            display: none;
         }
         
         h3 {
            font-size: 1.5rem !important;
         }
         
         .contents {
            padding-left: 0;
         }
      }
   }
}

@media screen and (max-width : 760px){
   .guides {
      .guide {
         .contents {
            h3 {
               font-size: 1.2rem;
            }
            
            .left-info {
               display: none !important;
            }
            
            &>var {
               display: none !important;
            }
         }
      }
   }
   .guide-header {
      
      .guide-title {
         clear: both;
         padding: 0.7rem 0 0 0;
      }
      
   }
   .guide-body {
      
      section {
         
         header {
            font-size: 2rem;
            width: 2rem;
         }
         
         article {
            margin-left: 3.5rem;         
         }
        
      }
   }
}