.guides {
   .guide {
      clear: both;
      background: #fff;
      min-height: 120px;
      margin-top: 1rem;

      &.success {
         background-color: $text-success;
      }
      &.warning {
         background-color: $text-warning;
      }
      &.danger {
         background-color: $text-danger;
      }

      img {
         float: left;
         width: 160px;
         height: 120px;
      }

      .contents {
         margin-left: 160px;
         padding-left: 1rem;
      }

      h3 {
         padding: 0.5rem 1rem 0.4rem 0;
      }

      var {
         float: right;
         margin-right: 1rem;
      }

      a.tag {
         margin: 0 0.5rem 0 0;
      }

      span {
         i {
            margin-right: 0.3rem;
         }
      }

      .status {
         margin-top: 0.5rem;
      }
   }
}

.guide-header {
   padding: 1.5rem 1.5rem 1.1rem;
   margin-bottom: 1.5rem;
   background-color: $block-bgcolor;

   .author, .updated {
      color: $text-muted;
      font-size: 0.8em;
      line-height: 1.2em;
      display: block;
   }

   .tags {
      label {
         display: block;
         font-weight: bold;
         margin-bottom: 0.25rem;
      }

      margin-top: 0.5rem;
   }
}

.guide-body {
   .section {
      padding: 1.5rem 1.5rem 1.1rem;
      background-color: $block-bgcolor;
      margin-bottom: 1.5rem;

      header {
         float: left;
         font-size: 3rem;
         line-height: 3rem;
         padding: 0 1rem 0.5rem 0;
         color: $text-muted;
      }

      p {
         margin-bottom: 0;
      }

      .image {
         margin-top: 1.5rem;
         padding-top: 1.5rem;
         border-top: 1px solid $body-bgcolor;

         img {
            display: block;
            width: 100%;
            margin: 0 auto;
         }
      }
   }
}