#imagesModal {
   div#uploadimage {
      div, button {
         margin-top: 0.5rem;
      }

      img {
         display: block;
         max-width: 400px;
         max-height: 400px;
      }

      .progress {
         margin: 0.5rem 0 0;
      }

      button {
         width: 9rem;
      }
   }
}