.activity-feed {
   max-width: 18rem;
   background-color: $block-bgcolor;
   margin-top: -1rem;

   h3 {
      background-color: $site-faded;
      color: $block-bgcolor;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      margin: 0;
      padding: 0 0.5rem;
   }

   .feed-guide, .feed-rating {
      padding: 0.5rem;
      border-top: 1px solid $body-bgcolor;

      a.title {
         display: block;
         font-size: 1.2rem;
      }

      a.tag {
         font-size: 0.75rem;
         line-height: 0.8rem;
         margin: 0 0.5rem 0 0;
         padding: 0.33rem;
      }

      a.user i {
         color: $text-muted;
      }

      var {
         display: block;
         font-size: 0.75rem;
         line-height: 1rem;
         margin: 0.25rem 0;

         span {
            font-size: 0.8rem;
            color: $text-success;
         }
      }
   }
}