.card-tag {
   width: 242px;
   flex: none !important;
   position: relative;

   &>a {
      display: block;

      &.card-block {
         margin: 0.75rem 0.5rem;
         padding: 0;

         h4 {
            margin: 0;
            text-align: center;
         }
      }
   }

   img {
      width: 240px;
      height: 200px;
   }

   ul.popup {
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;

      i.fa-gear {
         color: #fff;
         background-color: rgba(0,0,0,0.3);
         padding: 0.5rem;
      }
       i.fa-tag {
         color: #333;
         margin-right:5px;
       }
   }
}

.tag {
   display: inline-block;
   padding: 0.5em;
   font-size: 0.8em;
   font-weight: bold;
   line-height: 1.2em;
   text-align: center;
   color: $tag-color;
   white-space: nowrap;
   vertical-align: baseline;
   margin: 0 0.4em 0.4em 0;

   background-color: $tag-bgcolor;
   &:hover, &:focus, &:active {
      color: $tag-color;
      text-decoration: none;
      background-color: darken($tag-bgcolor, 3%);
   }

   &.multiple {
      background-color: complement($tag-bgcolor);
      &:hover {
         background-color: darken(complement($tag-bgcolor), 3%);
      }
   }

   &.current {
      background-color: adjust_hue($tag-bgcolor, 240deg);
      &:hover {
         background-color: darken(adjust_hue($tag-bgcolor, 240deg), 3%);
      }
   }

   &.category {
      background-color: adjust_hue($tag-bgcolor, 120deg);
      &:hover {
         background-color: darken(adjust_hue($tag-bgcolor, 120deg), 3%);
      }
   }
}

.tags a i.fa {
   font-size: 0.8em;
   margin-right: 0.4em;
}

.tag-form {
   margin-bottom: 2rem;

   .form-group img {
      display: block;
      margin-bottom: 0.5rem;
   }
}

.tag-block {
   margin-bottom: 1rem;

   .tag-list {
      margin-bottom: 0.5rem;
   }
}